{% load static %}
<link rel="stylesheet" href="{% static 'product/style.css' %}" >
<button><a href="{% url 'product:update' product.id %}">Update</a></button>

<div class="detail">
    <a href=""><img src="{{ product.image.url}}" width="150px" alt="{{ product.name_txt }}"></a> <br>
   <p> <b>{{ product.name_txt }}</b> <br> {{ product.description }}<br> ₹{{ product.price }}<br>
    <a href="{% url 'product:rating' product.id %}">give me rating</a> </p>

</div> <br>
<button><a href="{% url 'product:delete' product.id %}">Delete</a></button>

