{% load static %}
<link rel="stylesheet" href="{% static 'product/style.css' %}" >

<button><a href="{% url 'product:create' %}">Create</a></button> <br>

{% if product_list %}

    {% for product in product_list %}
<div class="index">
<div class="images">
    <a href="{% url 'product:detail' product.id %}"><img src="{{ product.image.url}}" width="150px" ></a>
    </div>
    <br>
    <div class="info">
    <h3>{{ product.name_txt }}</h3>
    <p> ₹{{ product.price }}</p>
    </div>
</div>
    {% endfor %}
{% endif %}
